<%= render "partials/header" %>

<div class="container">
  <div class="row no-gutters">
    <div class="col pl-3 pt-5">
      <h4 class="lead">Welcome to the Customer Page.</h4><br>

      <% if @active_customers.empty? %>
        <h4>No active customers at this time</h4>
      <% else %>
        <h4>Active Customers:</h4>
        <!-- Table --> 
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <!-- Active Rows --> 
            <% @active_customers.each do |cust| %>
              <tr>
                <td><%= link_to cust.name, customer_path(cust) %></td>
                <td><%= cust.phone.to_s[0,3] + "-" + cust.phone.to_s[3,3] + "-" + cust.phone.to_s[6,4]%></td>
                <td><%= cust.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table><br>
        
        <!-- Pagination --> 
        <span class="paginate">
        <%= will_paginate @active_customers, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        </span>
      <% end %>

    </div>
  </div>
</div>

<%= render "partials/footer" %>
