<%= render "partials/header" %>

<div class="container mb-5">
  <div class="row no-gutters">
    <div class="col pl-3 pt-5">
      <h4 class="lead">Welcome to the Orders Page.</h4>

      <!-- New Order --> 
      <%= link_to(new_order_path(@order), class: 'btn btn-primary btn-md active my-2') do %>
            &nbsp;<%= "Place an Order" %>
      <% end %><br>

      <% if @all_orders.empty? %>
        <h4>There are no orders at this time</h4>
      <% else %>
        <h4>All Orders:</h4>
        <!-- Table --> 
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Customer</th>
              <th scope="col">Recipient</th>
              <th scope="col">Cost</th>
            </tr>
          </thead>
          <tbody>
            <!-- Active Rows --> 
            <% @all_orders.each do |ord| %>
              <tr>
                <td><%= link_to ord.date.strftime('%m/%d/%y'), order_path(ord) %></td>
                <td><%= link_to Customer.find(ord.customer_id).name, customer_path(Customer.find(ord.customer_id)) %></td>
                <td><%= Address.find(ord.address_id).recipient %></td>
                <td><%= number_to_currency(ord.grand_total) %></td>
              </tr>
            <% end %>
          </tbody>
        </table><br>
        
        <!-- Pagination --> 
        <span class="paginate mb-5">
        <%= will_paginate @all_orders, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        </span><br>
      <% end %>
    </div>
  </div>
</div>

<%= render "partials/footer" %>
