<%= render "partials/header" %>

<div class="container">
  <div class="row no-gutters">
    <div class="col pl-3 pt-5">
      <h4 class="lead">Welcome to the Orders Page.</h4><br>

      <% if @all_orders.empty? %>
        <h4>There are no orders at this time</h4>
      <% else %>
        <h4>All Orders:</h4>
        <!-- Table --> 
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Customer</th>
              <th scope="col">Recipient</th>
              <th scope="col">Cost</th>
            </tr>
          </thead>
          <tbody>
            <!-- Active Rows --> 
            <% @all_orders.each do |ord| %>
              <tr>
                <td><%= link_to ord.date.strftime('%m/%d/%y'), order_path(ord) %></td>
                <td><%= link_to Customer.find(ord.customer_id).name, customer_path(Customer.find(ord.customer_id)) %></td>
                <td><%= Address.find(ord.address_id).recipient %></td>
                <td><%= "$" + ord.grand_total.to_s %></td>
              </tr>
            <% end %>
          </tbody>
        </table><br>
        
        <!-- Pagination --> 
        <span class="paginate">
        <%= will_paginate @all_orders, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<%= render "partials/footer" %>
