<%= render "partials/header" %>

<div class="container">
  <div class="row no-gutters">
    <div class="col pl-3 pt-5">
      <!-- Details Pane --> 
      <h4 class="lead">Order Details:</h4><br>

      <fieldset class="border mt-4">
    		<legend class="pl-3"><%= "Recipient: " + Address.find(@order.address_id).recipient %></legend>
    		<div class="px-2 py-2">
    		<%= "Thanks for being a Baking Factory customer since " + @previous_orders.last.date.strftime('%Y') + "." %><br>
    		</div>
	  </fieldset><br>

	  <!-- Orders Pane --> 
	  <h4 class="lead">Order History:</h4><br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- Single Order Rows --> 
              <tr>
                <td><%= @order.date.strftime('%m/%d/%y') %></td>
                <td><%= '$' + @order.grand_total.to_s %></td>
              </tr>
          </tbody>
        </table>

    </div>
  </div>
</div>

<%= render "partials/footer" %>